/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */
html {
  background-color: black;
  font-family: "fahkwang", helvetica, arial, sans-serif;
  margin-left: 4em;
  margin-right: 4em;
  padding: 0.5em;
}
h1 {
  color: hotpink;
  font-family: 'Sansita', sans-serif;
  font-size: 3.5em; /*56px / 16 = 3.5em*/
  font-weight: bolder;
  padding-bottom: .25em; /*4px / 16 = 0.25em*/
  text-align: center;
}
h2 {
  color: pink;
  font-size: 2em; /*32px / 16 = 2em*/
  font-weight: bold;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}
/* Responsive Media */
img {
  display: block;
  max-width: 100%;
}
.me {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.about {
  color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: right;
}
.work {
  color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: left;
}
p {
  color: lightslategrey;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25em; /*20px / 16 = 1.25em*/
  padding-bottom: .75em; /*12px / 16 = 0.75em*/
  text-justify: inter-word;
}
