/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */


/*base styles*/
html {
  background-color: black;
  font-family: "fahkwang", helvetica, arial, sans-serif;
  padding: 0.5em;
}
header {
  padding-bottom: 2em;
}
h1,
h2,
h3 {
  text-align: center;
  padding-bottom: .25em;
}
h1 {
  color: hotpink;
  font-family: 'Sansita', sans-serif;
  font-size: 3.5em; /*56px / 16 = 3.5em*/
  font-weight: bolder;
  padding-bottom: .25em; /*4px / 16 = 0.25em*/
}
h2 {
  color: pink;
  font-size: 2em; /*32px / 16 = 2em*/
  font-weight: bold;
  padding-top: 1em;
}

h3 {
  color: yellow;
  font-size: 1em;
  padding-bottom: .5em;
}

h4 {
  color: skyblue;
  font-size: 1.25em;
  padding-bottom: .5em;
}
p {
  color: lightslategrey;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25em; /*20px / 16 = 1.25em*/
  padding-bottom: .75em; /*12px / 16 = 0.75em*/
  text-justify: inter-word;
}
ul,
li {
  color: lightslategrey;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25em; /*20px / 16 = 1.25em*/
}

/* Modular styles and Responsive Media */

img {
  max-width: 50%;
  display:block;
  max-width: 100%;
}

.projects h4 {
  font-weight: bold;
  padding-bottom: .5em;
  padding-top: .5em;
}




/*state styles */
/* commenting all the below out to try grid options from book
#about,
#work,
#hobby {
  display: flex;
  flex-direction: row;
}*/
section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
#about,
#work,
#hobby {
  flex: 0 0 auto;
  width: 100%;
}
#about,
#work,
#hobby p {
  flex: 1 0 100px;
  margin-left: 20px;
  }
  #about,
  #work,
  #hobby img {
    flex: 1 0 200px;
  }

@media screen and (min-width: 500px) {
  section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #about,
  #work,
  #hobby {
    flex: 0 0 auto;
    width: 100%;
  }
  #about,
  #work,
  #hobby img {
    flex: 1 0 200px;
  }
}

/*state styles
@media screen and (min-width: 500px) {

#work,
#hobby {
  display: grid;
  margin: 2em;
  column-width: 200px;
  column-gap: 2em;
  }
#about,
#work,
#hobby {
  display: flex;
  flex-direction: row;
}
#about,
#work,
#hobby h2{
  flex: 0 0 auto;
  width: 100%;
  }

.summary,
.experiences,
.hobbies {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.summary,
.experiences,
.hobbies {
  display: flex;
  flex-direction: row;
  }
.summary,
.experiences,
.hobbies p {
  flex: 1 0 100px;
  margin-left: 20px;
  }
.summary,
.experiences,
.hobbies img {
  flex: 1 0 200px;
}
}
*/
